HF_TOKEN=
HF_NAMESPACE=Hist3ry
HF_REPO_LLAMA=Hist3ry/fiap-medpt-llama31-8b-qlora
HF_REPO_QWEN80=Hist3ry/fiap-medpt-qwen3-06b-lora-80pct-qkvo
APP_DEFAULT_MODEL=qwen10
APP_MEDICAL_DATA_FILE=
APP_CORS_ORIGINS=http://localhost:5173,http://localhost:8080
